ultralytics==8.3.115
torch==2.7.0
torchvision==0.22.0
opencv-python==4.11.0.86
Flask==2.2.2
pillow==11.2.1
pyserial==3.5
pynmea2==1.19.0
python-nmap==0.7.1
picamera2==0.3.25
matplotlib==3.8.3
seaborn==0.13.2
scikit-learn==1.4.2
numpy>=1.25
setuptools>=68.0
wheel>=0.40
